*{
padding: 0;
margin: 3px;
}


th {
  background-color: #2cf4e0;
  color: white;
}


table
{
    counter-reset: rowNumber;
}

table tr > td:first-child
{
    counter-increment: rowNumber;
}

table tr td:first-child::before
{
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 50px;
}